
<div class='row'>
  <div class='col-xs-4 col-xs-offset-4'>
      <img src='https://99gamers.com/images/99_logo.png' class='logo'>
  </div>
</div>


<div class='row'>
  <div class='col-xs-4 col-xs-offset-4'>
    <h1>Sign in to 99Gamers</h1>

    <form role="form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <div class='new-user-link'>Need an account? <a href='<%= new_user_url %>'>Sign Up</a></div>
    </form>
  </div>
</div>
