<div class='row'>
  <div class='col-xs-8 col-xs-offset-2'>
    <div class='page-header'>
      <h1 class='header'>Checkout all these games!</h1>
      <p class='browse-instructions'>Click on any game to see its listings.</p>
    </div>

    <div class='games-index'>

    </div>
</div>