<h1 class='jumbotron'><%= game.get('title') %></h1>

  <form class='buy-form'>
    <input type='hidden' name='sale[game_id]' value='<%= game.id %>'>
    <button class='btn btn-primary buy-btn'>Buy Game Now</button>
  </form>