<div class='row'>
  
  <div class='col-xs-6 show-desc'>
    <div class='well game-desc'>
      <h1><%= game.get('name') %></h1>
      <p><%= game.get('deck') %></p>
    </div>
    <h3>Listings</h3>
    <div class='listings'>
    </div>
  </div>
  
  <div class = 'col-xs-6 show-img'>
  </div>

</div>



























<!-- <% if (game.get('sold') === false) { %>
<p class='cannot-buy-error'>You Don't Have Enough Coins! Buy More!</p>
<form class='buy-form'>
  <input type='hidden' name='sale[game_id]' value='<%= game.id %>'>
  <button class='btn btn-primary buy-btn'>Buy Game Now</button>
</form>
<% } %> -->
