<div class='row'>
  
  <div class='col-xs-6 show-desc'>
    <div class='well game-desc'>
      <h1><%= game.get('name') %></h1>
      <p><%= game.get('deck') %></p>
    </div>
    <h3 class='listings-header'>Listings</h3>
    <div class='listings well'>
    </div>
  </div>
  
  <div class = 'col-xs-6 show-img'>
  </div>

</div>
