/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 50px 0px 0px 0px;
  height: 100%;
  width: 100%;
  background: url(http://images4.alphacoders.com/624/62426.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1{
  text-align: center;
}

.auth_button {
  display: block;
  width: 100%;
  padding: 100%;
}

.back-link{
  text-align: center;
  display: block;
}

.auth_error {
  text-align: center;
  color: red;
}

.cannot-buy-error {
  display:none;
}

.cannot-buy-error-show{
  color: red;
  text-align: right;
}

.get-started{
  display: block;
  text-align: center;
}

h2.dashboard-well {
  text-align: center;
}

.header {
  text-align: center;
}

.logo {
  margin: 20px auto 0px auto;
  display: block;
}

div.dashboard-well {
  width: 49%;
  text-align: center;
  background-color: rgba(255,255,255,.5);
  box-shadow: 5px 5px 5px #888888;
}

.list-div {
  word-wrap: break-word;
}

.well-left{
  float: left;
}

.well-right{
  float: right;
}

.glyphicon-plus {
  color: green;
}

.glyphicon-minus {
  color: red;
}

.search-results {
  position: relative;
}

.search-div {
  word-wrap: break-word;
}

.search-result-item {
  display: inline-block;
  margin: 10px ;
}

.browse-item {
  display: inline-block;
  margin: 10px ;
  box-shadow: 5px 5px 5px #888888;
}

.search-img {
  height: 100%;
  width: 100%;
}

span.link-kill a {
  cursor: default;
  decoration: none;
}

.game-img{
  display: block;
  margin: 30px auto;
  background-color: rgba(255,255,255,.5);
}

.game-desc{
  margin: 30px 0;
  background-color: rgba(255,255,255,.5);
}

.list-search {
  text-align: center;
}

.loading-results {
  display: block;
  margin: auto;;
}

.listings-header {
  text-align: center;
}

.p-center {
  text-align: center;
}

.listing-row {
  font-size: 12px;
}


.auth-button {
  display: inline-block;
  float: left;
}

.guest-button{
  display: inline-block;
  float: right;
  background-color: #33CC33;
  color: white;
}

.front-left {
  margin-left: 50px;
  display: inline-block;
  width: 50%;
  background-color: rgba(255,255,255,.5);
}

.front-right {
  margin-right: 50px;
  display: inline-block;
  vertical-align: top;
  float: right;
  background-color: rgba(255,255,255,.5)
}

.sign-in-div {
  background: url(http://images4.alphacoders.com/624/62426.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.sign-up-div {
  width: 100%;
  height: 100%;
}

.sign-up-well {
  background-color: rgba(255,255,255,.5);
}

.sell-well {
  background-color: rgba(255,255,255,.5);
}

.index-well {
  background-color: rgba(255,255,255,.5);
}

.navbar {
 background-color: rgba(255,255,255,0.75);
}

.coin-btn-nav {
  background-color: #FFFF99;
}

.listings {
  background-color: rgba(255,255,255,0.5);
}

.buy-btn{
  margin-left: -20px;
}