<div class='row'>
  <div class='col-xs-12 search-div'>
    <h1>Search Results for <%= query %></h1>

    <div class='row'>
    <div class='search-results well col-xs-10 col-xs-offset-1'>
      <h1 class='loading-results'>Loading Results</h1>
      <h1 class='no-results hidden'>No Results Found</h1>
    </div>
    </div>
  </div>
</div>