
<h1 class='header page-header'>Your Account Overview</h1>
 
    
    <div class=' well well-left'>
      <h2 class='dashboard-well'>Games You Have for Sale</h2>
    
      <div class='games-for-sale'>
      </div>
    </div>
    
    <div class=' well well-right'>
      <h2 class='dashboard-well'>Trade History</h2>
      <div class='recent-trades'>
      </div>
    </div>
    
  
  