<h1>Welcome to Ninety9Gamers!</h1>
<p class='p-center'>To get started, click on the Coins button in the navbar to get some moolah to start trading. Then either search or browse for games to trade!</p>
<h2 class='header page-header'>Your Account Overview</h2>
 
    
    <div class=' well well-left dashboard-well'>
      <h3 class='dashboard-well'>Games You Have for Sale</h3>
    
      <div class='games-for-sale'>
      </div>
    </div>
    
    <div class=' well well-right dashboard-well'>
      <h3 class='dashboard-well'>Trade History</h3>
      <div class='recent-trades'>
      </div>
    </div>
    
  
  